@model StudyAbroad.Web.Models.PaginationSet<StudyAbroad.Web.Models.OrderViewModel>
@{
    ViewBag.Title = "Đơn hàng đi Nhật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ctl00_divAlt1" class="altcontent1 container cmszone">
    <div class='row Module Module-141'>
        <ol class='breadcrumb'>
            <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><a href='/' class='itemcrumb' itemprop='url'><span itemprop='title'>Trang chủ</span></a></li>
            <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><a href='/Order/Order' class='itemcrumb active' itemprop='url'><span itemprop='title'>Đơn hàng đi Nhật</span></a></li>
        </ol>
    </div>
</div>
<main class="main container">
    <section class="row">
        <div id="ctl00_divCenter" class="col-md-9 col-main">
            <div class='clearfix mrb30 jobs-wrap Module Module-151'>
                <div class='ModuleContent'>
                    <div class="job-specical">
                        <h1 class="title-page">Đơn hàng đi Nhật</h1>
                        <div class="slider">
                            <div class="owl-carousel clearfix">
                                <div class="item clearfix">
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <a class="center-block" href="thong-tin-viec-lam-dao-tao/tuyen-12-nam-gia-cong-co-khi-tai-kyoto.html" target="_self" title="TUYỂN 12 NAM GIA CÔNG CƠ KHÍ">
                                                <img src="~/Assets/pages/Data/Sites/1/News/16349/duc-khuon-tai-nhat-ban.jpg" alt="TUYỂN 12 NAM GIA CÔNG CƠ KHÍ">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <h3>
                                            <a target="_self" href="thong-tin-viec-lam-dao-tao/tuyen-12-nam-gia-cong-co-khi-tai-kyoto.html" title="TUYỂN 12 NAM GIA CÔNG CƠ KHÍ">TUYỂN 12 NAM GIA CÔNG CƠ KHÍ</a>
                                        </h3>
                                        <div class="clearfix mrb10">
                                            <p>Số lượng: <strong>12</strong></p>
                                            <p>Nơi làm việc: <strong>KYOTO</strong></p>
                                            <p>Lương: <strong>33 triệu</strong></p>
                                            <p>Ngày tuyển: <strong>14/05/2021</strong></p>
                                        </div>
                                        <a class="readmore" target="_self" href="thong-tin-viec-lam-dao-tao/tuyen-12-nam-gia-cong-co-khi-tai-kyoto.html" title="TUYỂN 12 NAM GIA CÔNG CƠ KHÍ">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="item clearfix">
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <a class="center-block" href="thong-tin-viec-lam-dao-tao/tuyen-45-nam-san-xuat-may.html" target="_self" title="TUYỂN 45 NAM SẢN XUẤT MÁY">
                                                <img src="~/Assets/pages/Data/Sites/1/News/16348/san-xuat-o-to.jpg" alt="TUYỂN 45 NAM SẢN XUẤT MÁY">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <h3>
                                            <a target="_self" href="thong-tin-viec-lam-dao-tao/tuyen-45-nam-san-xuat-may.html" title="TUYỂN 45 NAM SẢN XUẤT MÁY">TUYỂN 45 NAM SẢN XUẤT MÁY</a>
                                        </h3>
                                        <div class="clearfix mrb10">
                                            <p>Số lượng: <strong>45</strong></p>
                                            <p>Nơi làm việc: <strong>AICHI</strong></p>
                                            <p>Lương: <strong>34 triệu</strong></p>
                                            <p>Ngày tuyển: <strong>20/05/2021</strong></p>
                                        </div>
                                        <a class="readmore" target="_self" href="thong-tin-viec-lam-dao-tao/tuyen-45-nam-san-xuat-may.html" title="TUYỂN 45 NAM SẢN XUẤT MÁY">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="item clearfix">
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <a class="center-block" href="thong-tin-viec-lam-dao-tao/tuyen-18-nam-dieu-khien-may.html" target="_self" title="TUYỂN 18 NAM ĐIỀU KHIỂN MÁY">
                                                <img src="~/Assets/pages/Data/Sites/1/News/16346/dieu-khien-may-tai-nhat-ban.jpg" alt="TUYỂN 18 NAM ĐIỀU KHIỂN MÁY">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <h3>
                                            <a target="_self" href="thong-tin-viec-lam-dao-tao/tuyen-18-nam-dieu-khien-may.html" title="TUYỂN 18 NAM ĐIỀU KHIỂN MÁY">TUYỂN 18 NAM ĐIỀU KHIỂN MÁY</a>
                                        </h3>
                                        <div class="clearfix mrb10">
                                            <p>Số lượng: <strong>18</strong></p>
                                            <p>Nơi làm việc: <strong>KYOTO</strong></p>
                                            <p>Lương: <strong>33 triệu</strong></p>
                                            <p>Ngày tuyển: <strong>10/05/2021</strong></p>
                                        </div>
                                        <a class="readmore" target="_self" href="thong-tin-viec-lam-dao-tao/tuyen-18-nam-dieu-khien-may.html" title="TUYỂN 18 NAM ĐIỀU KHIỂN MÁY">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="item clearfix">
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <a class="center-block" href="thong-tin-viec-lam-dao-tao/tuyen-18-nu-duc-nhua.html" target="_self" title="TUYỂN 18 NỮ ĐÚC NHỰA">
                                                <img src="~/Assets/pages/Data/Sites/1/News/16345/duc-nhua-nhat-ban.jpg" alt="TUYỂN 18 NỮ ĐÚC NHỰA">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <h3>
                                            <a target="_self" href="thong-tin-viec-lam-dao-tao/tuyen-18-nu-duc-nhua.html" title="TUYỂN 18 NỮ ĐÚC NHỰA">TUYỂN 18 NỮ ĐÚC NHỰA</a>
                                        </h3>
                                        <div class="clearfix mrb10">
                                            <p>Số lượng: <strong>18</strong></p>
                                            <p>Nơi làm việc: <strong>GUNMA</strong></p>
                                            <p>Lương: <strong>30 triệu</strong></p>
                                            <p>Ngày tuyển: <strong>05/05/2021</strong></p>
                                        </div>
                                        <a class="readmore" target="_self" href="thong-tin-viec-lam-dao-tao/tuyen-18-nu-duc-nhua.html" title="TUYỂN 18 NỮ ĐÚC NHỰA">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class='Module Module-150'>
                <div class='ModuleContent'>
                    <div class="job-list table-responsive">
                        <table class="table table-striped text-center">
                            <tr>
                                <th class="text-left">Ngành nghề</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">Nơi làm việc</th>
                                <th class="text-center">Lương</th>
                                <th class="text-center">Ngày tuyển</th>
                            </tr>
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td class="text-left">
                                            <a href="/don-hang/chi-tiet/@item.ID" target="_self" title="@item.Name">@item.Name</a>
                                        </td>
                                        <td>@item.Count</td>
                                        <td>@item.Address</td>
                                        <td style="white-space:nowrap;">@String.Format("{0:#,##0}", item.Salary) triệu</td>
                                        <td>@String.Format("{0:dd/MM/yyyy}", item.TestDay)</td>
                                    </tr>
                                    }
                                }
                                </table>
                    </div>
                    <div id="ctl00_mainContent_ctl01_ctl00_divPager" class="pages newspager">
                        <div class='modulepager'>
                        
                                @if (Model.TotalPages > 1)
                                {
                                    // Create numeric links
                                    var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                                    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                                    <nav>
                                        <ul class="pagination">
                                            @if (Model.Page > 1)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="?page=1" aria-label="First">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?page=@(Model.Page-1)" aria-label="Previous">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>
                                            }
                                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                                            {
                                                if (Model.Page == i)
                                                {
                                                    <li class="active page-item"><a class="page-link" href="?page=@i" title="Trang @i">@i</a></li>
                                                }
                                                else
                                                {
                                                    <li class="page-item"><a class="page-link" href="?page=@i" title="Trang @i">@i</a></li>
                                                }
                                            }
                                            @if (Model.Page < Model.TotalPages)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="?page=@(Model.Page+1)" aria-label="Next">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?page=@Model.TotalPages" aria-label="Last">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                }
                         
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="ctl00_divRight" class="col-md-3 col-right cmszone">
            <div class='clearfix mrb20 lien-ket Module Module-143'><div class='ModuleContent'><h2 class='module-title'>Liên kết</h2><a href="/dang-ky"><img alt="" src="~/Assets/pages/Data/Sites/1/media/lien-ket/lien-ket-01.jpg" /></a><a href="http://jvb.com.vn/" target="_blank"><img alt="" src="~/Assets/pages/Data/Sites/1/media/lien-ket/lien-ket-02.png" /></a></div></div><div class='clearfix mrb30 quy-trinh Module Module-144'>
                <div class='ModuleContent'>
                    <h2 class='module-title'>Quy trình</h2><table>
                        <tbody>
                            <tr>
                                <td>
                                    <em class="fa fa-newspaper-o"></em>
                                </td>
                                <td>
                                    <a href="/quy-trinh-tuyen-dung">Tìm hiểu về quy trình tuyển chọn, hồ sơ và thủ tục</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
</main>

